name: bilu_shape
description: Bilu Shape App
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: ^0.13.1

flutter_launcher_icons:
  android: true
  image_path: "dist/assets/logo.png"
  adaptive_icon_background: "#ffffff"
  adaptive_icon_foreground: "dist/assets/logo.png"

flutter:
  uses-material-design: true
